body {
  background-image: url("./image/keyboard.jpg");
  background-size: cover;
  color: #FFE4E1;
}

.navbar {
  padding-top: 20px
}

.nav-link {
  color: #FFE4E1;
}

.nav-link:hover {
  color: #FF1493
}

.bio-img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home,
.about-me,
.portfolio,
.contact {
  margin-top: 50px
}

.home-p {
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
  font-weight: 600;
}

.portfolio-row {
  margin-bottom: 40px;
}

.card-title {
  color: #4B0082
}

.card {
  margin-top: 20px
}

.card:hover {
  transform: scale(1.05);
}

.btn:hover {
  background-color: #FF1493;
  color: #FFE4E1
}

.btn {
  background-color: #C71585;
  color: #FFE4E1;
  font-size: 10px
}

img {
  height: 180px
}

.about-me {
  /* color: #FFE4E1; */
  font-style: italic
}

.contact {
  width: 50%;
}

.email {
  text-decoration: underline;
}

.form-group-message {
  margin-top: 12px;
  margin-bottom: 12px;
}

.fixed-bottom {
  background-color: #C71585;
  text-align: center;
  height: 55px
}

i {
  color: #FFE4E1;
  margin: 5px
}